

body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

button{
	background: rgb(38,147,201);
	border-radius: 5px;
	color:white;
	padding: 10px 20px; 
	border-style: hidden;
	font-size:x-small;
	margin-top: 30px;
	margin-bottom: 30px;
}

.firstnav li, .secondnav li, .secondtext li{ 
	display: inline-block;
	padding-left: 5px;
}

.firstnav, .secondnav{
	background-color: white;
    text-align: left;
}

.firstnav{
	margin-left: 900px;
	font-size: x-small;
}

.secondnav {
	margin-left: 250px;
	font-size: small;
}

.secondnav ul a {
	display:block;
	color:black;
	text-decoration:none;
	padding: 0px 12px;
}

.secondnav li{
	position:relative;
}

.secondnav li:hover {
	background: rgb((246,246,246));
}

.secondnav ul {
	background: white;
	display: none;
	position: absolute;
	padding: 0;
}

.secondnav ul a {
	padding: 10px 10px;
}

.secondnav ul li {
	width: 160px;
	float: none;
	text-align: left;
}

.secondnav li:hover > ul {
	display:block;
}

.firstsection h2{
	font-size: 200%;
}

.firstsection{
	background: url('../img/slide-bg-complexity.jpg') no-repeat center 90px;
	background-size: auto 639px;
    z-index: 5;
	background-attachment: fixed;
}

.slideshow li{
  background-color: rgb(236,236,236);
  font-size: 14px;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  display: inline-block;
  cursor: pointer;
}

.slideshow li>a{
  color: rgb(236,236,236);
}

.firstbox {
  background-color: rgb(46,149,202) !important;
}

.firstbox a{
  color: rgb(46,149,202) !important;
}

.firstsection h2, .firstsection h3, .slideshow{
	text-align: left;
	margin-left: 250px;
}	

.firsttext, .secondtext, .thirdtext, .last-footer{
	padding: 20px;
	color: white;	
}

.fourtext{
	padding: 20px;
}


.listbox li{
	vertical-align: top;
	display: inline-block;
	padding-left: 10px;
	padding-top: 15px;
	background: rgb(247, 65, 159);
	opacity: 0.8;
	height: 150px;
	width: 24%;
	border-radius: 5px;
	margin-right: 2%;
	font-size: 18px;
	text-align: left;
}


.listbox li:hover{
	opacity:1;
}

.listbox li+li{
	background: rgb(106, 196, 61);
}

.listbox li+li+li{
	background: rgb(255,117,25);
}


.secondsection{
	background: rgb(82, 174, 209);
}

.secondtext ul{
	list-style-type: none;
	display: inline-block;
	padding-left: 5px;
}

.thirdsection{
	background: url('../img/news-and-events-bg.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
}

.thirdtext li{
	vertical-align: bottom;
	display: inline-block;
	font-size: small;
  }
  
 .inbox{
	height: 100px;
	width: 230px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	margin: 10px;
 }
  
 .inbox:hover{
	background-color: rgba(255, 255, 255, 0.7);
 }

.thirdtext li>p+p{
	opacity:1;
}

.inbox p+p{
	color:black;
	margin-left: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 15px;
}

.news{
	float: left;
	margin-left: 10px;
}

.date{
	float:left;
	background: rgb(82, 174, 209);
	height: 60px;
	width: 45px;
	font-size: large;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

.date+br{
	font-size: small;
}

.foursection{
	background: rgb(236, 236, 236);
}

.boxone, .boxtwo, .boxthree{
  display: inline-block;
  width: 340px;
  vertical-align: top;
}

.boxthree{
	width: 260px;
}

.insidetext {
	background-color: rgba(255, 255, 255, 0.9);
	margin: 8px;
	padding-left: 8px;
	padding-top: 10px;
    padding: 10px;
    border-radius: 6px;
}

.pics{
  display: inline-block;
}

.fourtext img{
  display: inline-block;
  margin: 5px;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  float: left;
}

#a:hover{
	content: url('../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg');
}

.insidetext:hover{
	background-color: rgb(38,147,201);
}

.last-footer{
	background-color: rgb(45, 45, 45);
}

.listtext, .lastlisttext{
	display: inline-block;
	list-style-type: none;
	font-size: small;
	width: 200px;
    vertical-align: top;
}

.listtext{
	text-align: left;
}

.lastlisttext{
	background-color: rgba(255, 255, 255, 0.2);
	width: 180px;
	height: 220px;
	padding: 20px;
}

.footer-list h3{
	color: rgb(38,147,201);;
	font-size: small;
}

.seconddate{
	float:left;
	height: 50px;
	width: 50px;
	font-size: large;
}

.lastpics{
	float: left;
}


#events1, #events2{
	float: left;
	margin-left: 20px;
}

#events1:hover{
	content: url('../img/eventListIconNews_hover.png');
}

#events2:hover{
	content: url('../img/eventListIconEvents_hover.png');
}

.news:hover{
	color:black;
}

#linkicon{
	float:left;
	margin-top: 15px;
}

.firstsection img+p{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	font-size: 13px;
	font-weight: bold;
}

#boldtext{
	font-weight: bold;
}

#aimg:hover{
	content: url('../img/solution_icon_smart-money_hover.png');
}

#bimg:hover{
	content: url('../img/solution_icon_biz-transform_hover.png');
}

#cimg:hover{
	content: url('../img/solution_icon_optimize-efficnt_hover.png');
}

#dimg:hover{
	content: url('../img/solution_icon_diti-cx_hover.png');
}

#eimg:hover{
	content: url('../img/solution_icon_personal_hover.png');
}

#fimg:hover{
	content: url('../img/solution_icon_biz-analitics_hover.png');
}

#yt:hover{
	content: url('../img/socialMenuIcon-youtube_hover.png');
}

#tw:hover{
	content: url('../img/socialMenuIcon-twitter_hover.png');
}

#li:hover{
	content: url('../img/socialMenuIcon-linkdin_hover.png');
}

.mobile-nav{
    display: none;
}

.mobile-menu ul {
    display: none;
}

.mobile-footer-nav{
	display: none;
}

input[type=checkbox] {
    display:none;
}

#search-input{
	radius: 5px;
}

#mobile-comv{
	display:none;
}

#mobile-search{
	display:none;
}
.mobile-menu-nav li{
	list-style-type: none;
}

@media only screen and (min-width: 35em) {
}

@media all and (max-width:850px){


.firstnav, .secondnav {
	display: none;
}

#mobile-comv{
	display:inline;
	margin-left: 6%;
}

#mobile-search{
	display: inline;
	margin-left: 80%;
	text-align: top;
}

.menu-btn{
	display:block;
    margin-top: 40px;
	margin-left: 10px;
	background-color: rgb(236, 236, 236);
	width: 40px;
	height: 40px;
}

#menu-icon{
	padding: 10px;
}

.mobile-menu-nav li{
	display: inline-block;
	margin-left: 15%;
}

.firstsection, .firsttext, .listbox{
	padding: 0px;
}

.firstsection h2, .firstsection h3, .slideshow, #learnmore{
	margin-left: 20px;
	margin-top: 10px;
}	

.mobile-nav{
    display: block;
}
   
   
label {
    display: block;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(to bottom,rgb(242,242,242) 0%,rgb(229, 229, 229) 100%);
}

label:hover {
    cursor: pointer;
}
  

.mobile-menu, .mobile-menu ul{
	list-style: none;
    padding: 0;
}  

.mobile-menu {
    display: none;
    font: 1rem;
    position: absolute;
    width: 100%;
}


.mobile-menu li {
    color: rgb(236, 236, 236);
}

.mobile-menu label {
    background : white;
	width: 100%;
	border-radius: 0;
}

.mobile-menu li a, .mobile-menu label {
    text-align: left;
    background-color: white;
	color: rgb(88,89,81);
	text-decoration: none;
    margin: 0;
    padding: 0 20px;
    height: 2rem;
    text-transform: uppercase;
    display: block;
	line-height: 2rem;
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid white;
}

input[type="checkbox"]:checked ~ ul {
    display: block;
    top:50px;
}
	

.listbox li{
	display: block;
	margin: 0px;
	border-radius: 0px;
	width: 100%;
	opacity: 1;
	margin-top: 5px;
}

.arr-img{
  content: url(../img/btnArrow.png);
  display: inline-block;
  float: right;	
  margin-right: 5px;
  margin-top: 30px;

}

.slideshow li{
  background-color: rgb(236,236,236);
  width: 2rem ;
  height: 2rem;
  margin:0px;
}

.firstbox{
 background-color: rgb(236,236,236);
}

.slideshow li>a, .firstbox >a{
  color: black;
  font-size: 1rem;
  text-align: center;
  border: none;
}

.slideshow li:hover{
	background-color:rgb(38,147,201);
}

.firstheader{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 10px;
	background-color:rgb(38,147,201,0.5);
}
	
 
.footer-list{
	display: none;
 }
 
.mobile-footer-nav{
    display: block;
}

.mobile-footer{
    display: block;
	list-style: none;
    background-color: rgb(45, 45, 45);
    margin-bottom: 15px;
    margin: 0;
    padding-left: 0;
    font-size: 1rem;
	text-align: left;
}

.mobile-footer li, .mobile-footer li >a{
	color: white;
}

.mobile-footer li {
    border-bottom: 1px solid black;
	padding: 10px 10px 10px 10px;
}

.mobile-footer li:hover {
    background-color: rgb(154,154,154);
}

.mobile-footer li > a {
    text-decoration: none;
}

.mobile-footer img{
	float: right;
	margin-right: 10px;
}

.thirdtext li {
    display:block;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 15px;
	text-align: left;
}

.thirdtext h3{
	margin-left: 12px;
	font-size: 20px;
}

.inbox{
	width: 90%;
}

}	
	
@media (max-width: 767px){

.boxthree{
	display:none;
}
.secondtext>ul>li{
	width: 30%;
}

}